body {
	padding: 30px;
	max-width: 1200px;
	margin: 0 auto;
}
.pattern {
  border: 1px solid #ddd;
  padding: 15px;
}
.pattern, details {
	margin-bottom: 16px;
}
.pattern summary {
  background: #eee;
  margin: -15px;
  padding: 15px;
  margin-bottom: 0;
}
pre {
  margin: 0 -15px;
  border: none !important;
  border-bottom: 1px solid #ddd !important;
}

