body {
	padding: 30px;
	max-width: 1200px;
	margin: 0 auto;
}
.pattern {
  padding: 30px;
}
.pattern-example {
  padding: 20px;
  border: 1px solid #ddd;
}
pre {
  margin: 0;
  border: none !important;
  border-bottom: 1px solid #ddd !important;
}
summary {
  background: #eee;
  padding: 15px;
  margin-bottom: 0;
  position: relative;
}
summary a {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
}
summary:hover a {
  display: block;
}

:target {
    -webkit-animation: target-fade 1s 1;
    -moz-animation: target-fade 1s 1;
}

@-webkit-keyframes target-fade {
    0% { background-color: rgba(255, 255, 0, .5); }
    100% { background-color: rgba(255, 255, 0, 0); }
}
@-moz-keyframes target-fade {
    0% { background-color: rgba(255, 255, 0, .1); }
    100% { background-color: rgba(255, 255, 0, 0); }
}

